<div class="card border-0 outline-2">
    <img src="https://via.placeholder.com/400x150.png/FFB5EB/EC00B5?text=<%= course %>" class="card-img-top"
        alt="<%= course %>">
    <a href="/dashboard/subjects/<%= course %>" class="stretched-link"></a>
</div>
<%- include('progress', {w: '50%'}) %>
<%- include('progress', {w: '50%'}) %>
