<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dist/home.css">
</head>

<body>
    <%- include('partials/navbar', {home: true, avatar}) %>
    <main class="container mt-5">
        <div class="row">
            <div class="col-4 pe-4">
                <h1 class="fs-4 mb-3">Pomodoro Timer</h1>
                <%- include('partials/timer') %>
                    <h1 class="fs-4 mb-3">Streak Challenge</h1>
            </div>
            <div class="col-4 px-4">
                <h1 class="fs-4 mb-3">New Topics</h1>
                <% if(newTopics.length) { %>
                <%- include('partials/progress', {w: '4.5rem'}) %>
                <% } %>
                <% newTopics.forEach(({ topic, chapter }) => { %>
                <%- include('partials/topic', {todos: false, topic, chapter}) %>
                <% }) %>
            </div>
            <div class="col-4 ps-4">
                <h1 class="fs-4 mb-3">Revision</h1>
                <% if(newTopics.length) { %>
                <%- include('partials/progress', {w: '4.5rem'}) %>
                <% } %>
                <% revisingTopics.forEach(({ topic, chapter }) => { %>
                <%- include('partials/topic', {todos: false, topic, chapter}) %>
                <% }) %>
            </div>
        </div>
    </main>
    <script src="/dist/home.js"></script>
</body>

</html>
